*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.containerGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
}
section{
    padding: 40px 20px 40px 20px;
}
header{
    background-color: #807c7c;
    padding: 10x 0;
}
footer{
    background-color: #807c7c;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.itemJuegos{
    background-color: beige;
    grid-column: 2 / 4;
    align-self: center;
    justify-self: center;
    
}
.articleCounter{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    background-color: violet;
    border-style: groove;
    border: solid 5px black;
}
.imgCounter{
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantén la proporción de la imagen */
    display: block; /* Elimina el espacio extra alrededor de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */

}
.articleFortnite{
    grid-column: 3 / 5;
    grid-row: 2 / 4;
    background-color: brown;
    border: solid 1px black;
}
.articleLeague{
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    background-color: green;
    border: solid 1px black;
}
.articleSamp{
    grid-column: 3 / 5;
    grid-row: 4 / 6;
    background-color:yellow;
    border: solid 1px black;
}
